body {
  font-family: Arial, sans-serif;
  background-image: url(./assets/img/BG1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  filter: drop-shadow(50%);

}
h1{
  margin-left: 40px;
  font-weight: 800;
  color: burlywood;
}
h2{
  margin-left: 25px;
  font-weight: 800;
  color: burlywood;
  text-transform: uppercase;
  box-shadow: #333;


}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: white; 
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}
nav ul li a{
  font-size: 25px;
  text-decoration: none;
  color: grey;
  background-color: burlywood;
  padding: 10px;
  border-radius: 10px;
}
.cart-widget {
  display: flex;
  align-items: center;
}
.cart-widget span{
  font-size: 25px;
  color: white;
  background-color: red;
  border-radius: 100px;
  padding: 5px;
  position: absolute;
  right: 30px;
  top: 10px;
}

.cart-widget img {
  width: 60px;
  margin-right: 40px;
}

.item-list-container {
  padding: 20px;
  text-align: center;
}

